.user-post-area {
    padding: 20px;
}

.user-post-section {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
    padding-left: 0;
    width: 40%;
}

.user-post-text {
    display: flex;
    justify-content: center;
}

.user-post-text>section {
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px lightgray;
}

.post-area {
    width: 600px;
    padding: 10px;
    border-radius: 10px;
    font-size: 12pt;
    border: none;
    line-height: 24px;
}

.post-area:focus {
    outline: 0;
}

.user-post-area img {
    margin: 10px;
}

#pic-intro {
    width: 50px;
    padding-left: 0;
}

.post-description {
    text-align: justify;
}


.title-project{
    margin: 10px;
}

.title-project b{
    background-color: rgb(0, 197, 99);
    padding: 3px;
    color: white;
    border-radius: 5px;
}